<header>
    <div class="card col-md-4 offset-md-4">
      <div class="card-body">
          <form class="form-conatiner" #form="ngForm" (ngSubmit)="login()"> 
            <h1>Login Form</h1>
            <small class="danger" style="color: red;">{{msg}}</small>
            <label>
              <input type="text" name="email" class="col" placeholder=" "  [(ngModel)]="user.email">
              <span>Enter the Email</span>
              
            </label>
              <label>
                <input type="password" name="password" class="col" placeholder=" "  [(ngModel)]="user.password" >
                <span>Enter the Password</span>
                
              </label>
              <br>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
              <div>
                 <button type="submit" class="btn btn-success btn-block"> Submit</button>
              </div>
         </form>
      
      </div>
   
    </div>
  </header>

  <!-- <div class="form-group col-md-4 offset-md-4" style="margin-left: -1rem;">
    <label>
    <input type="text" name="email" class="col" placeholder=" " #email="ngModel" ngModel required>
    <span>Enter the Email</span>
    <div style="color: red;" *ngIf="email.touched && email.value.length<=4 && email.value!=null">email/userName should have minimum 4 characters</div>
  </label>
  </div>
  <div class="form-group col-md-5 mt-4" style="margin-left: -1rem;">
    <label>
    <input type="text" name="password" class="col" placeholder=" " #password="ngModel" ngModel required>
    <span>Enter the Password</span>
    <div style="color: red;" *ngIf="password.touched && password.value.length<=4 && password.value!=null">password should have atleast 4 characters</div>
  </label>
  </div>
  <div >
    <button type="submit" class="btn btn-secondary mb-3" name="submit">Submit</button>
    <button type="reset" class="btn btn-secondary ml-2 mb-3" name="submit">Reset</button>
  </div> -->
  