<header>
    <nav class="navbar   navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" >About Us</a>
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item active"><a class="nav-link" ><button type="button" (click)="home()">Home</button>	
            </a></li>
        </ul>
    </nav>
    
<p><i>A library is a curated collection of sources of information and similar resources, selected by experts and made accessible to a defined community for reference or A library is a curated collection of sources of information and similar resources, selected by experts and made accessible to a defined community for reference or borrowing, often in a quiet environment conducive to study. It Provides physical or digital access to material, and may be a physical location or a virtual space, or both. A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, table games, video games and other formats. Libraries range widely in size up to millions of items. The word for "library" in many modern languages is derived from Ancient Greek βιβλιοθήκη (bibliothēkē), originally meaning bookcase, via Latin bibliotheca.

    The first libraries consisted of archives of the earliest form of writing—the clay tablets in cuneiform script discovered in Sumer, some dating back to 2600 BC. Private or personal libraries made up of written books appeared in classical Greece in the 5th century BC. In the 6th century, at the very close of the Classical period, the great libraries of the Mediterranean world remained those of Constantinople and Alexandria. The libraries of Timbuktu were also established around this time and attracted scholars from all over the world.</i></p>
<p></p>
<h6><u>
    Academic libraries:</u></h6>
<p>Academic libraries are generally located on college and university campuses and primarily serve the students and faculty of that and other academic institutions. Some academic libraries, especially those at public institutions, are accessible to members of the general public in whole or in part.


    The University Library in Budapest, Hungary
    Academic libraries are libraries that are hosted in post-secondary educational institutions, such as colleges and universities. Their main function are to provide support in research and resource linkage for students and faculty of the educational institution. Specific course-related resources are usually provided by the library, such as copies of textbooks and article readings held on 'reserve' (meaning that they are loaned out only on a short-term basis, usually a matter of hours). Some academic libraries provide resources not usually associated with libraries, such as the ability to check out laptop computers, web cameras, or scientific calculators.</p>


<h6><u>Contact Details:</u></h6>
<p>Name : Online Library</p>
<p>CellNo:+91 9550522272</p>
<p>Email: OnlineLibraryIndia@gmail.com</p>

</header>




